*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #d6d5d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 17px;
}
.main-canvas{
    margin-bottom: 17px;
    border: 4px groove black;
    border-radius: 12px;
    background-color: white;
}
