*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
    background-color: rgb(214, 213, 213);
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas{
    width: 60vw;
    height:60vh;
    border: 4px groove black;
    border-radius: 12px;
    background-color: white;
}
